.navbar{
    background-color: lightgreen;
}

.btn{
    margin-left: 1em;
}

.card-block{
    margin-top: 1em;
}

.container{
    margin-bottom: 1em;
}

.btnspacedcard{
    margin-top: 2m;
    margin-bottom: 2em;
}